[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2
[submodule ".emacs-profiles/doom"]
	path = .emacs-profiles/doom
	url = https://github.com/hlissner/doom-emacs.git
[submodule ".emacs-profiles/witchmacs"]
	path = .emacs-profiles/witchmacs
	url = https://github.com/ism1997/Witchmacs.git
